# Koha REST API
KOHA_URL=http://koha_app:8080
KOHA_CLIENT_ID=46c26a91-5c8e-46c1-86ef-bcd88d43f5e2
KOHA_CLIENT_SECRET=9c09f992-af90-4174-bdca-920a96f16969
KOHA_PATRON_SEARCH_FIELD=cardnumber

# SIP2 (requerido para checkout y checkin)
SIP2_HOST=koha_app
SIP2_PORT=6001
SIP2_LOGIN=amengualgo
SIP2_PASSWORD=TU_PASSWORD_SIP2
SIP2_INSTITUTION=UDLV
